/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.header {
  height: 90px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}

.header-box{
  height: 50px;
  width: 1330px;
  margin: 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-weight: bold;
}

.app-title {
  font-size: 40px;
  color: #666666;
}

.grid-1{
  display: flex;
  font-size: 23px;
  color: #57c3e9;
}

.log-inn{
  border: 3px solid #57C3E9;
  border-radius: 3px;
  padding: 10px 20px;
}

.new-post{
  border: 3px solid #57C3E9;
  border-radius: 3px;
  padding: 10px 20px;
  margin-left: 10px;
}

a {
  color: #57c3e9;
  text-decoration: none;
  
}

main{
  height: calc(100vh - 200px);
  background-color: #f0f0f0;
  border-bottom: 1px solid #D8D8D8;
}

footer {
  height: 80px;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 550px;
}

p{
  color: #d8d8d8;
  font-size: 16px;
  height: 20px;
  width: 350px;
}

